<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @club.street_address %>
</p>

<p>
  <b>Band:</b>
  <% @club.bands.each do |band| %>
      <%= band.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
