<p id="notice"><%= notice %></p>

<p>
  <b>Band:</b>
  <%= @booking.band_id %>
</p>

<p>
  <b>Club:</b>
  <%= @booking.club_id %>
</p>

<p>
  <b>Fee:</b>
  <%= @booking.fee %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
