<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Num members:</b>
  <%= @band.num_members %>
</p>

<p>
  <b>Club:</b>
  <% @band.clubs.each do |club| %>
      <%= club.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
