<!DOCTYPE html>
<html>
<head>
  <title>HomeworkOne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Bands", bands_path %>
<%= link_to "Clubs", clubs_path %>
<%= link_to "Bookings", bookings_path %>

<%= yield %>

</body>
</html>
